.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.input--group {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.grid {
  display: grid;
  justify-content: center;
}
.grid > .grid--1x2 {
  grid-template-columns: 2fr 1fr;
}

.grid--1x4 {
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .card--container {
    margin-left: 100px;
  }
}

.background--img {
  background: url(../img/books_background.jpg);
}

.sort_input {
  border-radius: 10px;
  opacity: 0.9;
}
